#welcome {
  background-image: url("../img/stitch.jpg");
  background-size: 100%;
}
h1#welcometo {
  text-align: center;
  font-size: 150px;
  text-shadow: 2px 2px 20px green;
  background: rgba(255, 255, 255, 0.5);
  border: solid white 2px;
}
span {
  font-style: italic;
}
a {
  color: blue;
}
