#welcome {
  background-image: url("../img/stitch.jpg");
  background-size: 100%;
}
h1#welcometo {
  text-align: center;
  font-size: 200px;
  text-shadow: 2px 2px 20px black;
  border-radius: 35px;
}
span {
  font-style: italic;
}
a {
  color: green;
  text-decoration: underline;
}
a:hover {
  color: darkgreen;
}
body#home {
  background-image: url("../img/backgr.jpg");
  background-size: 100%;
}
.jumbotron#welcomejumbo {
  color: rgba(255, 255, 255, 0.75);
  background: rgba(0,204,51,0.5);
}
.well#welcomewell {
  background: rgba(255,255,255,0.75);
}
.panel-title {
  font-size: 50px;
}
.nav-pills {
  color: green;
}
