#welcome {
  background-image: url("../img/bkgr1.jpg");
  background-size: 100%;
}
#welcome h1 {
  text-align: center;
  font-size: 200px;
  text-shadow: 2px 2px 20px green;
  border-radius: 35px;
  text-decoration: underline;

}
#welcome span {
  font-style: italic;
}
a {
  color: green;
  text-decoration: underline;
}
a:hover {
  color: pink;
}
#welcome .jumbotron {
  color: rgba(0,0,0,0.75);
  background: rgba(255,255,255,0.5);
}
#welcome .well {
  background: rgba(255,255,255,0.75);
}

#aboutme .panel-title {
  font-size: 50px;
}
#aboutme {
  background-image: url("../img/backgr.jpg");
  background-size: 100%;
}
#me {
  float: left;
  margin: 3px;
  width: 200px;
  height: 200px;
  border: solid black 2px;
}
#aboutme .panel-body {
  font-size: 25px;
}
#kazakhstan {
  float: right;
  width: 300px;
  height: 200px;
  border: solid black 2px;
}
#aiden {
  float: left;
  margin: 3px;
  width: 200px;
  height: 300px;
  border: solid black 2px;
}
#aboutme .panel-success {
  border: solid green 5px;
  background-color: rgba(255,255,255,0.75);
  margin-top: 10px;
}
.nav-pills {
  margin-top: 10px;
  margin-bottom: 10px;
}
#omelette {
  float: right;
  width: 200px;
  height: 300px;
  border: solid black 3px;
}

#work {
  background-image: url("../img/bkgr2.jpg");
  background-size: 100%;
}
#work .row {
  margin: 10px;
}
#work .panel-heading {
  text-align: center;
  background-color: rgba(0,0,0,1);
}
#work .panel-body {
  text-align: center;
  border: solid white 2px;
  color: limegreen;
  font-size: 25px;
  background-color: black;
}
#work .col-md-4 .well {
  background-color: rgba(0,0,0,0.75);
  border: solid white 2px;
}

#background{
  background-image: url("../img/bkgr3.jpg");
  background-size: 100%;
}
#background h1 {
  font-size: 150px;
  text-shadow: 2px 2px 10px limegreen;
  background-color: rgba(0,0,0,0.75);
  border-radius: 35px;
  text-align: center;
  border: solid limegreen 2px;
}
#background blockquote {
  background-color: rgba(0,0,0,1);
  font-size: 35px;
  color: white;
}
#background p {
  font-size: 50px;
  background-color: black;
  text-align: center;
  color: limegreen;
  border-radius: 40px;
  border: limegreen;
  border-style: dashed;
  margin-bottom: 0px;
  margin-top: 20px;
}
#background img {
  float: right;
  width: 200px;
  height: 200px;
}
#background
